*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    /*1rem siempre sera igual a 10 px*/
}
footer{
    background-color: #C1D7AE;
    width: 100%;
    height: 35rem;
}
section{
    
    background-color: whitesmoke;
    width: 100%;  
}
.navPadre{
    position: absolute;
    list-style: none;
    text-align: center;
    padding: 2rem 10rem;
    width: 100%;
    background-color: whitesmoke;
    color: gray;
}
.nav li{
    display: inline-block;
    font-size: 15px;
    margin: 10px 0;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
/* .row{
    padding-left: 3rem;
} */
/* .row div{
    display: block;
} */

.presentacion{
    height: 108.2rem;
    text-align: left;
    padding: 20rem 20rem;
    top: 150rem;
    margin-top: 150rem;
    background-color: transparent;
}
.presentacion h1{
    font-size: 4.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #153B93;
    padding: 0 15rem;
}
.presentacion p{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    padding: 0 15rem ;
}
.presentacion .row{
    width: 100%;
    height: 10rem;
    background-color: whitesmoke;
    margin: 0 0rem;
    padding: 1rem 2rem;
}

.imagen{
    background-color: #2675DE;
    text-align: left;
    padding: 18.2rem 20rem;
    top: 150rem;
    margin-top: 40rem;
    height: 108.2rem;
    
}
.imagen img{
    position: absolute;
    width: 50%;
    height: 90rem;
    
    
}
.letrerosParametros div{
    display: inline-block;
}
.letrerosColumnas div{
    display: inline-block;
}
.schedulePadre div{
    display: inline-block;
}
.preparacionesCuadros div{
    display: inline-block;
}

.dato{
    margin: 0 7rem;
    color: #153B93;
}
.boton{
    padding-top:  3rem ;
}


.marcas{
    padding: 15rem 3rem;
    background-color: whitesmoke;
    width: 700rem;
    height: 15rem;
    border: 0;
}
.marcas .row{
    margin: 0 2rem;
}
.marcasRow img{
    margin: 1.5rem 13rem;
    width: 15rem;
    height: 4rem;
}
.razonesPadre{
    padding: 5rem ;
    background-color: whitesmoke;
}
.razones{
    padding: 5rem 15rem;
    width: 60%;
    background-color: whitesmoke;
}
.razones h1{
    padding: 0 1rem;
    font-size: 4.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #153B93;
    
}
.razones p{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}
.cuadrosRazones{
    padding: 2rem 17rem;
    width: 100%;
}

.cuadrosRazones p{
    text-align: left;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    
}
.cuadrosRazones h2{
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #153B93;   
}
.card{
    width: 25.5rem;
    height: 43rem;  
}
.card h2,p{
    padding: 1rem 2rem;
}
.card img{
    padding: 1rem 2rem;
    width: 60%;
}
.preparacion2{
    display: block;
    position: absolute;
    width: 70rem;
    margin:  2rem 73.5rem;
    padding: 1rem 0rem; ;
    background-color: whitesmoke;
    
}
.preparacionTexto{
    padding: 0 5rem;
    background-color: whitesmoke;
}
.preparacionTexto h1{
    font-size: 4.3rem;
    color: #153B93;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.preparacion2 h2{
    padding: 2rem 1.5rem;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #153B93;
}
.preparacion2 p{
    padding: 2rem 1.5rem;
    text-align: left;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}
.doctora img{
    position: absolute;
    width: 50%;
    height: 90rem;
    margin-top: 5rem;
}
.cuadros{
    background-color: whitesmoke;
    padding: .5rem;
    padding-left: 5rem;
    width: 55rem;
    height: 7rem;
    font-size: 2rem;
}
.preparacionesLetros{
    background-color: whitesmoke;
    width: 100%;
    height: 95rem;
    padding: 24rem 0rem;
}
.preparacionesLetros .row{
    margin: 2rem 0rem;
}
#preparacionesImagen{
    margin-top: 19rem;
    height: 50rem;
    background-color: #2675DE;
}
.preparacionesCuadros{
    padding: 1rem 3rem;
    margin-left: 4rem;
    background-color: transparent;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #153B93;
    
}
.letreros{
    margin-left: 3rem;
}
.preparacionesCuadros div{
    display: inline-block;

}
.contactoEmergencia{
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: whitesmoke;
}
.contactoEmergencia .texto{
    padding: 0 16rem;
    background-color: whitesmoke;
    margin-left: 0rem;
}
.contactoEmergencia .imagen{
    margin-top: 25rem;
    height: 50rem;
    background-color: #2675DE;
}
.doctor3 img{
    position: absolute;
    width: 40%;
    height: 76rem;
    margin-top: 24rem;
    margin-left: 78rem;

}
.contactEmergency{
    font-size: 2rem;
    position: absolute;
    width: 59rem;
    height: 20rem;
    margin:  2rem 15rem;
    padding: 1rem 2rem; ;
    background-color: whitesmoke;
}
.contactEmergency h1{
    padding: 1rem;
    font-size: 4.3rem;
    color: #153B93;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.contactEmergency p{
    padding: 2rem 1.5rem;
    text-align: left;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}
.cuadro1 div,.cuadro2 div{
    display: inline-block;
}
.cuadro1{
    margin-top: 12rem;
    margin-left: 17rem;
    padding-top: 3rem;
    padding-left: 3rem;
    position: absolute;
    width: 25rem;
    height: 22rem;
    text-align: left;
    font-size: 2.3rem;
    background-color: whitesmoke;
    border: 2px grey solid;
}
.cuadro2{
    margin-top: 12rem;
    margin-left: 45rem;
    padding-top: 3rem;
    padding-left: 3rem;
    position: absolute;
    width: 25rem;
    height: 22rem;
    text-align: left;
    font-size: 2.3rem;
    background-color: whitesmoke;
    
}
.cuadro3{
    margin-top: 40rem;
    margin-left: 17rem;
    padding-top: 3rem;
    padding-left: 3rem;
    position: absolute;
    width: 25rem;
    height: 22rem;
    text-align: left;
    font-size: 2.3rem;
    background-color: whitesmoke;
    border: 2px grey solid;
}
.cuadro4{
    margin-top: 40rem;
    margin-left: 45rem;
    padding-top: 3rem;
    padding-left: 3rem;
    position: absolute;
    width: 25rem;
    height: 22rem;
    text-align: left;
    font-size: 2.3rem;
    background-color: whitesmoke;
    border: 2px grey solid;
}
.cuadro1 .numero{
    font-size: 1.5rem;
}

.cuadro1 button,.cuadro2 button,.cuadro3 button,.cuadro4 button{
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 3rem;
    width: 15rem;
    height: 4rem;
}

.piePagina{
    position: absolute;
    margin-top: 1rem;
    margin-left: 5rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: transparent;
    width: 27%;
    height: 28rem;
}
.company,.support,.about{
    position: absolute;
    padding: 2rem 2rem;
    width: 23rem;
    height: 33rem;
    background-color: transparent;
}
.about{
    margin-top: 1rem;
    margin-left: 80rem;
}
.company{
    margin-top: 1rem;
    margin-left: 103rem;
}
.support{
    margin-top: 1rem;
    margin-left: 125rem;
}
.piePagina h1,.company h1,.support h1,.about h1{
    padding: 1rem;
    font-size: 4rem;
    color: #153B93;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.piePagina p, .company p,.support p,.about p{
    padding: 2rem 1.5rem;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}
#svgCall,#svgChat,#svgVideo,#svgMessage{
    width: 5rem;
    height: 5rem;
    background-color: #BFE6E2;
    border: 5px#BFE6E2 solid;
    border-radius: 5px;  
}
#svgSecurity,#svgFlecha{
    width: 3rem;
    background-color: #BFE6E2;
    border: 7px#BFE6E2 solid;
    border-radius: 3px;
}
#logo{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #153B93;
}
#schedule{
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    width: 45rem;
}
#razon1,#razon2,#razon3,#razon4{
    background-color: whitesmoke;
    border: 4px solid gainsboro;
}
#parametros{
    font-size: 2rem;
    position: absolute;
    margin: 50rem 15rem;
    padding: 1rem 3rem;
    width: 58rem;
    height: 5rem;
    background-color: transparent;
}
#svgLocation1,#svgSelectVaccine{
    width: 4rem;
    background-color: #EBD391;
    border: 7px#EBD391 solid;
    border-radius: 3px;
}

#svgLocation,#svgDate,#svgVaccina,#svgClock,#svgSecurity,#svgTache,
#svgStadistic,#svgMark{
    width: 4rem;
    background-color: #BFE6E2;
    border: 7px#BFE6E2 solid;
    border-radius: 3px;
}
#svgHealth{
    width: 3.5rem;
    height: 3.5rem;
    background-color: #BFE6E2;
    border: 3px#BFE6E2 solid;
    border-radius: 2px; 
}
#svgCora3,#svgCora2,#svgCora1,#svgTri1,#svgTri2{
    width: 2rem;
    height: 2rem;
    background-color: #BFE6E2;
    border: 4px#BFE6E2 solid;
    border-radius: 3px;
}
#Stress{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    background-color: whitesmoke;
    width: 29%;
    margin-top: 45rem;
    margin-left: 89rem;
    position: absolute;
    text-align: left;
}
#avoid{
    height: 20rem;
}
#letreros{
    font-size: 2rem;
    position: absolute;
    width: 90rem;
    height: 12rem;
    margin: 90.5rem 15rem;
    padding: 1rem 5rem;
    background-color: whitesmoke;
    border-radius: 10px;
}
#schedule{
    font-size: 2rem;
    position: absolute;
    width: 52rem;
    height: 6rem;
    margin: 80rem 9rem;
    padding: 1rem 5rem;
    background-color: transparent;
    border-radius: 10px;  
}






